<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <clear />
    <!-- The path we will store all site data within, creating a sub-directory for each domain, may be realtive to the bin directory. -->
    <add key="StorePath" value="App_Data\Store"/>
    <!-- The path we will store log files within, may be realtive to the bin directory. -->
    <add key="LogPath" value="App_Data\Log"/>
    <!-- The level of output for the log file, may be one of the following: None, Critical, Error, Warning, Info, Verbose. -->
    <add key="LogLevel" value="Warning"/>
  </appSettings>
  <!--
  The following is an example configuration and may be freely modified.  This example removes most other IIS features and relies
  exclusivly on HttpClone to serve content.  In addition it restricts verbs to GET, HEAD, and DEBUG.  The /api/Web.config allows
  POST within that location only.
  -->
  <system.web>
    <compilation debug="false" />
    <trace enabled="false" pageOutput="false" localOnly="true" traceMode="SortByTime" mostRecent="true" requestLimit="25" />
    
    <sessionState mode="Off" />
    <authentication mode="None" />
    <customErrors mode="RemoteOnly" />
    <hostingEnvironment shadowCopyBinAssemblies="false" />

    <httpHandlers>
      <clear />
      <add path="*" verb="GET,HEAD,POST" type="CSharpTest.Net.HttpClone.IISHandler, CSharpTest.Net.HttpClone.Hosting, PublicKeyToken=6ed0cf8ff88211fb" />
    </httpHandlers>

    <httpModules>
      <clear />
      <add name="HttpClone" type="CSharpTest.Net.HttpClone.IISHandler, CSharpTest.Net.HttpClone.Hosting, PublicKeyToken=6ed0cf8ff88211fb" />
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <urlCompression doDynamicCompression="false" doStaticCompression="true" />

    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
      </customHeaders>
    </httpProtocol>

    <security>
      <requestFiltering allowDoubleEscaping="false" allowHighBitCharacters="false">
        <requestLimits maxAllowedContentLength="0" maxQueryString="1024" maxUrl="2048" />
        <verbs allowUnlisted="false">
          <clear />
          <add verb="GET" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <defaultDocument>
      <files>
        <clear />
      </files>
    </defaultDocument>

    <handlers accessPolicy="Read, Script">
      <clear />
      <add name="Favorite-Icon" path="/favicon.ico" verb="GET,HEAD" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="HttpClone" path="*" verb="GET,HEAD,POST" type="CSharpTest.Net.HttpClone.IISHandler, CSharpTest.Net.HttpClone.Hosting, PublicKeyToken=6ed0cf8ff88211fb" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
    </handlers>

    <modules>
      <add name="HttpClone" type="CSharpTest.Net.HttpClone.IISHandler, CSharpTest.Net.HttpClone.Hosting, PublicKeyToken=6ed0cf8ff88211fb" />
    </modules>

  </system.webServer>
</configuration>