<?xml version="1.0" encoding="utf-8" ?>
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/src/Tools/CmdTool/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!--

This configuration is used by CmdTool.exe, for more information see http://help.csharptest.net/?CmdToolOverview.html

To modify the proto files in this project, you need to run the following command: CmdTool.exe REGISTER

-->
  <match filespec="*.proto">
    <generator debug="false">
      <execute exe="$(ConfigDir)Depends\ProtoGen.exe" />
      <!-- protoc.exe arguments -->
      <arg value="--proto_path=$(InputDir)\"/>
      <arg value="--include_imports"/>
      <arg value="$(InputPath)"/>
      <!-- protogen.exe arguments -->
      <arg value="-file_extension=.Generated.cs"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-umbrella_namespace=Generated"/>
      <arg value="-output_directory=$(InputDir)\"/>
      <arg value="-ignore_google_protobuf=true"/>
      <arg value="-public_classes=true"/>
      <arg value="-cls_compliance=false"/>
      <arg value="-nest_classes=false"/>
      <arg value="-service_generator_type=IRPCDISPATCH"/>
      <output extension=".Generated.cs"/>
    </generator>
  </match>
  <match filespec="*.xsd">
    <generator debug="false">
      <execute exe="$(ConfigDir)Depends\xsd.exe" />
      <arg value="/nologo"/>
      <arg value="/classes"/>
      <arg value="/fields"/>
      <arg value="/language:CS"/>
      <arg value="/namespace:$(Namespace).$(ClassName)"/>
      <arg value="/out:$(InputDir)\"/>
      <arg value="$(InputPath)"/>
      <output extension=".cs"/>
    </generator>
  </match>
  <match filespec="HttpCloneConfig.cs">
    <generator debug="false">
      <script type="Cmd">
        <![CDATA[@ECHO OFF
IF NOT EXIST "$(ProjectDir)$(IntermediateOutputPath)" @MD "$(ProjectDir)$(IntermediateOutputPath)"
        ]]></script>
    </generator>
    <generator debug="false">
      <execute exe="%WINDIR%\Microsoft.Net\Framework\v2.0.50727\csc.exe" />
      <arg value="/nologo"/>
      <arg value="/target:library"/>
      <arg value="/out:$(ProjectDir)$(IntermediateOutputPath)$(ClassName).dll"/>
      <arg value="$(InputPath)"/>
    </generator>
    <generator debug="false">
      <execute exe="$(ConfigDir)Depends\xsd.exe" />
      <arg value="/nologo"/>
      <arg value="$(ProjectDir)$(IntermediateOutputPath)$(ClassName).dll"/>
      <arg value="/type:$(Namespace).$(ClassName)"/>
      <arg value="/out:$(ProjectDir)$(IntermediateOutputPath)"/>
    </generator>
    <generator debug="false">
      <script type="Cmd">
        <![CDATA[@ECHO OFF
COPY /Y /B "$(ProjectDir)$(IntermediateOutputPath)schema0.xsd" "$(InputPath:.cs=.xsd)" > NUL
        ]]>
      </script>
      <output extension=".xsd"/>
    </generator>
  </match>
</CmdTool>