<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  This is the root folder for for all entry-points allowed: posting, pingback, etc.
  By default this is the only folder within which a POST request will be accepted.
  -->  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="70000"/>
        <verbs allowUnlisted="false">
          <add verb="POST" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>